<% layout("layout/boilerplate") %>

<div class="row">
    <div class="col-8 offset-3">
        <h1>Listing Details</h1>
    </div>

    <div class="card col-6 offset-3 mt-3 show-card">
        
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing-image">

        <div class="card-body">
            <div class="card-text">

                <b><%= listing.title %></b>
                <br><br>

                <%- listing.description %>
                <br><br>

                ₹ <%= listing.price.toLocaleString("en-IN") %> <br>
                <%= listing.country %> <br>
                <%= listing.location %> <br>
            </div>
        </div>

    </div>

    <!-- Buttons Section -->
    <div class="col-6 offset-3 d-flex justify-content-start gap-3 mb-5">

        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark">
            Edit
        </a>

        <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">
                Delete
            </button>
        </form>

    </div>
</div>
